body {
    margin: 0;
    padding: 0;
}

#addbox {
    background-color: lightgrey;
    text-align: center;
    line-height: 140px;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
}

.rbg-box-tmpl {
    display: none;
}

.rbg-box {
    background-color: white;
    border: 2px solid grey;
    text-align: center;
}

.rbg-drag {
    cursor: move;
    box-shadow: 1px 1px 5px black;
}

.close {
    position: absolute;
    right: 0;
    top: 0;
    cursor: pointer;
    padding: 1px 3px;
}

img {
    width: 175px;
    height: 60%;
    margin: 15px 10px;
    box-shadow: 0 0 0 1px #ccc;
}

span {
    font-family: helvetica;
    font-size: 11px;
}
